<h4><a href="/" title="Vai al sito: MappaSito">MappaSito</a></h4>
<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li><a class="list-item" href="/OPAC/" title="OPAC">OPAC</a></li>
    <li><a class="list-item" href="/ARCHIVE/" title="Archivio">Archivio</a></li>
    <li><a class="list-item" href="/OPAC/bambini/" title="OPAC bambini">OPAC Bambini</a></li>
    <li><a class="list-item" href="/user/" title="Area Utente">Area Utente</a></li>
    <li><a class="list-item" href="/OPAC/policy/" title="OPAC POLICY">OPAC POLICY</a></li>
    <li><a class="list-item" href="/about/obiettivi2026/" title="Obiettivi 2026">Obiettivi 2026</a></li>
  </ul>
</div>
